# m h  dom mon dow   command

@daily ~/hoard/.venv/bin/python ~/hoard/hoard/manage.py clearsessions
# @daily ~/hoard/.venv/bin/python ~/hoard/hoard/manage.py update_index -r -v0

@daily pg_dump -f ~/backup/hoard.daily.dmp hoard
1 * * * * /bin/bash -c 'pg_dump -f  ~/backup/hoard.hourly.`date +"\%H"`.dmp hoard'
